

/*================Grid============*/

.container {
	display:table;
	width: 90%;
	margin: 0 auto;
}

.col {
	display: block;
	width: 100%;
	float:left;
}


.span-3 {
	width:24%;
}
.span-6 {
	width:49%;
}

.span-9 {
	width: 74%;
}




/*==============general formatting===========*/





